.well-align{

	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:30px;
	/*display:none;*/
	/*visibility:hidden;*/
}
.content-tabs{
	margin-left: 180px;
	margin-right:377px;
	margin-top:50px;
}
.main-container{
  border: 1px solid #ccc;



}


.main-content{

	padding:0px;
	
}

.main-tab{

margin-left:0px;

}

